/* home.component.scss */
.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: transparent;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border:3px solid #ddd; // igual ao da sua imagem

  h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;

    @media(max-width: 800px) {
      font-size: 2rem;
    }

    @media(max-width:480px){
      font-size: 1.5rem;
    }
  }

  p {
    color: #555;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;

    @media(max-width:640px){
      font-size: 0.8rem;
    }
  }
}
