<section class="listar-curriculos">
  <div *ngFor="let curriculo of curriculos">
    <div class="card">
      <div class="card-body">
        <img src="https://www.colorhexa.com/ffa8c8.png" alt="">
        <h5 class="card-title">Código do Currículo: {{ curriculo.id }}</h5>
        <h5 class="card-title">Curriculo: {{ curriculo.nome }}</h5>
        <p class="card-text">Formação: {{ curriculo.formacao }}</p>
        <p class="card-text">Experiência: {{ curriculo.experiencia }}</p>
        <p class="card-text">Habilidades: {{ curriculo.habilidades }}</p>
        <p class="card-text">Linkedin: {{ curriculo.linkedin }}</p>
      </div>
    </div>
  </div>
</section>
<div class="rodape"></div>
